.button {
	.font_character(@button_font_size, @button_line_height, @normal_font_weight, @basic_black);

	display: block;

	min-width: 250px;
	padding: 18px 30px 15px;

	text-align: center;

	color: @basic_white;
	background-color: @basic_orange;

	border: none;
	border-radius: 25px;
	box-shadow: @basic_box_shadow;

	transition-duration: 200ms;

	@media (min-width: @desktop_width) {
		&:not(:disabled):hover,
		&:not(:disabled):focus {
			cursor: pointer;

			background-color: @light_orange;

			box-shadow: @light_box_shadow;

			transition-timing-function: linear;
		}

		&:not(:disabled):active {
			box-shadow: @basic_box_shadow;

			transform: translateY(2px);

			transition-duration: 200ms;
			transition-timing-function: linear;
		}
	}
}
