.navigation__list {
	.list_default_remove();

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
}

.navigation__item {
	.center_align_flex();

	margin: 0 10px;

	a {
		.center_align_flex();
		.font_character(@navigation_font_size, @navigation_line_height);
		.link_default_remove();

		padding: 10px 0;

		@media (min-width: @desktop_width) {
			&[href]:hover,
			&[href]:focus {
				color: @basic_orange;

				svg {
					animation-name: ring;
					animation-duration: 100ms;
					animation-iteration-count: 5;
					animation-direction: alternate;
				}
			}

			&[href]:active {
				opacity: 0.7;
			}
		}
	}

	span {
		@media (max-width: @tablet_width - 1) {
			display: none;
		}
	}

	&--main {
		margin-right: auto;
		margin-left: 0;

		a {
			padding: 0;
		}
	}

	&--contacts svg {
		margin-right: 8px;

		@media (max-width: @tablet_width - 1) {
			margin-right: 0;
		}
	}

	&:last-child {
		margin-right: 0;
	}
}
