.font_character(@size, @height, @weight: @normal_font_weight, @color: @basic_black) {
	font-size: @size;
	font-weight: @weight;
	line-height: @height;

	color: @color;
}

.list_default_remove() {
	padding: 0;
	margin: 0;

	list-style: none;
}

.link_default_remove() {
	text-decoration: none;

	color: inherit;

	outline: none;
}

.center_align_flex() {
	display: flex;
	justify-content: center;
	align-items: center;
}

.stretch_align_flex() {
	display: flex;
	justify-content: stretch;
	align-items: stretch;
}
