.font_character(@size, @height, @weight: @normal-font-weight, @color: @basic-black) {
	font-size: @size;
	line-height: @height;
	font-weight: @weight;
	color: @color;
}

.list_default_remove() {
	list-style: none;
	padding: 0;
	margin: 0;
}

.link_default_remove() {
	text-decoration: none;
	color: inherit;
	outline: none;
}

.center-align-flex() {
	display: flex;
	align-items: center;
	justify-content: center;
}

.stretch-align-flex() {
	display: flex;
	align-items: stretch;
	justify-content: stretch;
}
